@font-face {
  font-family: "OpenSauceTwo";
  src: local("OpenSauceTwo"), url('../assets/fonts/OpenSauceTwo/OpenSauceTwo-Light.ttf') format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "OpenSauceTwo";
  src: local("OpenSauceTwo"), url('../assets/fonts/OpenSauceTwo/OpenSauceTwo-Regular.ttf') format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "OpenSauceTwo";
  src: local("OpenSauceTwo"), url('../assets/fonts/OpenSauceTwo/OpenSauceTwo-Bold.ttf') format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "iAWriterQuattroS";
  src: local("iAWriterQuattroS"), url('../assets/fonts/iAWriterQuattroS/iAWriterQuattroS-Regular.ttf') format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "iAWriterQuattroS";
  src: local("iAWriterQuattroS"), url('../assets/fonts/iAWriterQuattroS/iAWriterQuattroS-Bold.ttf') format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "SFUIText";
  src: local("SFUIText"), url('../assets/fonts/SFUIText/SFUIText-Regular.ttf') format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "SFUIText";
  src: local("SFUIText"), url('../assets/fonts/SFUIText/SFUIText-Bold.ttf') format("truetype");
  font-weight: 600;
}
