// Color palette
$color-mako: #41494F;
$color-oslo-gray: #80888F;
$color-dodger-blue: #5850FE;
$color-tundora: #4D4D4D;
$color-edward: #ACADAC;
$color-denim: #1976d2;
$color-apricot: #F07F72;
$color-iron: #E6E6E8;
$color-concrete: #F2F2F2;
$color-mountain-meadow: #15CC79;
$color-french-gray: #BBB9C6;
$color-spring-rain: #9BCAA0;
$color-petit-orchid: #E19695;
$color-shark: #303234;
$color-spring-rain: #a4c6a2;
$color-amaranth: #EB3545;
$color-alto: #DEDEDE;
$color-tan-hide: #F89D68;

// Main colors
$primary-color: #347EED;
$secondary-color: #333333;

$bg-color: #F2F2F2;

// Fonts
$base-font: 'OpenSauceTwo';
$label-font: 'iAWriterQuattroS';

// Font sizes
$font-xs: 10px;
$font-xs-x: 11px;
$font-sm: 12px;
$font-sm-x: 13px;
$font-md: 14px;
$font-md-x: 16px;
$font-lg: 18px;
$font-lg-x: 20px;

// Font weight
$font-weight-thin: 400;
$font-weight-normal: 500;
$font-weight-bold: 600;
